[submodule "catkin_ws/src/rpg_esim"]
	path = catkin_ws/src/rpg_esim
	url = git@github.com:celynw/rpg_esim.git
[submodule "rl/envs/spacerobot_v1"]
	path = rl/environments/spacerobot_v1
	url = git@github.com:celynw/SpaceRobot.git
[submodule "submodules/slayerPytorch"]
	path = submodules/slayerPytorch
	url = git@github.com:bamsumit/slayerPytorch.git
[submodule "catkin_ws/src/esimcpp"]
	path = catkin_ws/src/esimcpp
	url = git@github.com:celynw/esimcpp.git
