venv*/
**/__pycache__/
**.egg-info/
logs/
lightning_logs/
runs/
# **.pyc
# **/.mypy_cache/
catkin_ws/logs
catkin_ws/build
catkin_ws/devel
catkin_ws/.catkin_tools
catkin_ws_local/
catkin_ws_docker_venv/
old/toys/debug_training/dataset/
train_estimator_RL_estimator/
*.bag
*.zip
*.png
*.gv
docker_stderror
esim_node*
